# Dependências do projeto
/vendor/
/node_modules/

# Laravel
/.env
/.env.backup
/.env.production
/storage/*.key
/storage/app/
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/bootstrap/cache/

# Docker volumes
/docker/mysql/data/

# Build
/public/build/
/public/hot
/public/storage

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
